// globals

*{
  margin:0; padding:0;
}
h1{
  // made a separate declation for the h1's since normalize.css was setting a margin on them and specificity was overiding
  // my rule above for all the elements
  margin:0;
}
html, body{
    width:100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: italic;
}
.appHeader{
  width:100%;
  padding:.5rem 0;
  background: rgb(255, 233, 175);
  color:white;
  text-align: center;
  display: inline-block;
}
.appHeader__welcome, .appHeader__signOut{
  margin-bottom:.3rem ;
}
.appHeader__signOut{
  color:red;
}
// app auth
.auth{
  width: 95%;
  text-align: center;
  max-width: 600px;
  margin:auto;
}
.auth__header{
  margin:1rem 0;
}
.auth__form--signUp{
  margin-bottom:3rem;
}
.auth__button{
  margin:1rem 0;
}
.auth__input{
  border: none;
  background: none;
  height: 3rem;
  font-style: italic;
  padding:0 1rem;
  color:black;
  border-bottom: 2px solid rgb(255, 233, 175);
  font-size: 1.2rem;
  transition: color .6s;
  width: 50%;
  margin:auto;
}
input:focus{
  color:black;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    color:black;
    transition: background-color 9999s ease-in-out 0s, color 9999s;
}
.app__button{
  display: block;
  background: rgb(255, 233, 175);
  margin:1rem auto;
  padding:1rem;
  font-size:1rem;
  font-family: 'Righteous';
  color:white;
  font-style: italic;
  border:none;
  cursor: pointer;
  transition: background-color .5s, color .5s, box-shadow .5s;
}
.app__button:hover{
  background-color:rgb(255, 233, 175);
  color: red;
  box-shadow: 0 2px 10px red;
}
