<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SOS!!!!</title>
    <base href="/">
    <link rel="stylesheet" href="styles/css/normalize.css">
    <link rel="stylesheet" href="styles/css/main-styles.css">
    <script src="/js/page.js" charset="utf-8"></script>
    <script src="/js/express-mapper.js" charset="utf-8"></script>
  </head>
  <body>
    <div>
      <h1>Spin or Starve</h1>
    </div>
      <!-- {{{body}}} -->
      <div id="target"></div>

  <script src="/js/bundle.js" charset="utf-8"></script>
  </body>
</html>
