<!-- sign up -->
<h2>Sign Up:</h2>
<form class="signUp" action="index.html" method="post">
  <input class="signUpEmail" type="text" name="name" placeholder="email" value=""/>
  <input class="signUpPass" type="text" name="name" value="" placeholder="password">
  <input id="signUpSubmit" type="button" name="name" value="submit"></input>
</form>

<!-- sign in -->
<h2>Sign In:</h2>
<form class="signIn" action="index.html" method="post">
  <input class="signInEmail" type="text" name="name" placeholder="email" value=""/>
  <input class="signInPass" type="text" name="name" value="" placeholder="password">
  <input id="signInSubmit" type="button" name="name" value="submit"></input>
</form>
<script src="login.js" charset="utf-8"></script>
