<h2>Sign Up:</h2>
<form class="signUp" action="index.html" method="post">
  <input id="signUpEmail" type="text" name="name" placeholder="email" value=""/>
  <input id="signUpPass" type="text" name="name" value="" placeholder="password">
  <!-- <input id="signUpSubmit" type="button" name="name" value="submit"></input> -->
</form>
  <button id="signUpSubmit" type="button" name="name">submit</button>
<!-- sign in -->
<h2>Sign In:</h2>
<form class="signIn" action="index.html" method="post">
  <input id="signInEmail" type="text" name="name" placeholder="email" value=""/>
  <input id="signInPass" type="text" name="name" value="" placeholder="password">
  <!-- <input id="signInSubmit" type="button" name="name" value="submit"></input> -->
</form>
<button id="signInSubmit" type="button" name="name" value="submit">Submit</button>
