<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SOS!!!!</title>
    <base href="/">
    <link rel="stylesheet" href="styles/css/normalize.css">
    <link rel="stylesheet" href="styles/css/main-styles.css">
  </head>
  <body>
    <div>
      <h1>Spin or Starve</h1>
    </div>
      {{{body}}}
      <div id="target">
        Welcome...

        <h2>Sign Up:</h2>
        <form class="signUp" action="index.html" method="post">
          <input class="signUpEmail" type="text" name="name" placeholder="email" value=""/>
          <input class="signUpPass" type="text" name="name" value="" placeholder="password">
          <!-- <input id="signUpSubmit" type="button" name="name" value="submit"></input> -->
        </form>
          <button id="signUpSubmit" type="button" name="name">submit</button>
        <!-- sign in -->
        <h2>Sign In:</h2>
        <form class="signIn" action="index.html" method="post">
          <input class="signInEmail" type="text" name="name" placeholder="email" value=""/>
          <input class="signInPass" type="text" name="name" value="" placeholder="password">
          <!-- <input id="signInSubmit" type="button" name="name" value="submit"></input> -->
        </form>
        <button id="signInSubmit" type="button" name="name" value="submit">Submit</button>



        <button id="signOutSubmit" type="button" name="button">sign out</button>
      </div>

  <script src="/js/bundle.js" charset="utf-8"></script>
  </body>
</html>
