<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SOS!!!!</title>
    <base href="/">
    <link rel="stylesheet" href="styles/css/normalize.css">
    <link rel="stylesheet" href="styles/css/main-styles.css">
  </head>
  <body>
    <div>
      <h1>Spin or Starve</h1>
      <p>Welcome</p>
      <a href="javascript:void(0)" id="signOutSubmit">sign out</a>
    </div>
      {{{body}}}
      <div id="target">
        Loading...
      </div>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFkV1mGW3FDrVsegyM8WGZm61HPeCHnTs&libraries=places"></script>
  <script src="/js/bundle.js" charset="utf-8"></script>
  </body>
</html>
